<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b59d91">  <td>23/03/16 15:01:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DocumentViewValidationTest.documentViewValidation()[pri:0, instance:com.tpo.testScripts.DocumentViewValidationTest@4c1d9d4b]">documentViewValidation</td> 
  <td>main@1418481495</td>   <td></td> </tr>
<tr bgcolor="b59d91">  <td>23/03/16 15:01:38</td>   <td>35779</td> <td>&nbsp;</td><td title="&lt;&lt;DocumentViewValidationTest.tearDown()[pri:0, instance:com.tpo.testScripts.DocumentViewValidationTest@4c1d9d4b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418481495</td>   <td></td> </tr>
</table>
